.th {
  font-family: 標楷體;
  font-size: 12pt;
  color: darkblue;
  height: 35px; }

.td {
  font-family: 標楷體;
  font-size: 11pt; }

.header {
  font-family: 標楷體;
  font-size: 12pt; }

td {
  font-family: 標楷體;
  font-size: 11pt; }

.tb {
  font-family: 標楷體;
  font-size: 11pt;
  color: darkgreen; }

.err {
  font-family: 標楷體;
  font-size: 12pt;
  color: red; }

textarea {
  width: 100%;
  height: 100%; }

.button {
  font-family: 標楷體;
  font-size: 11px;
  text-decoration: none; }

